<a href="https://colab.research.google.com/github/jesun03/Python/blob/Python-Learning/Lists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
marks = [45,87,36,56,98,76.5,87.5]
print(marks)
print(type(marks))
print(marks[4])
print(marks[0])

[45, 87, 36, 56, 98, 76.5, 87.5]
<class 'list'>
98
45

In [11]:
student = ["Rohan", 89.5, "Dhaka"]
print(student)
student[1] = 90
print(student)

['Rohan', 89.5, 'Dhaka']
['Rohan', 90, 'Dhaka']

In [10]:
#LIst slicings
marks = [54,93,56,75,89,64]
print(marks[1:5])

print(marks[-4:-1])

[93, 56, 75, 89]
[56, 75, 89]

In [23]:
#Lists_Methods

list = [3, 4, 8, 2, 0]
list.append(1) #adds on the element at the end
print("Add Value: ",list)

list.sort() #Sorts ascending order
print("Sorts asending order: ",list)

list.sort(reverse=True) #Sorts desending order
print("Sorts decending order: ",list)

list.reverse() #reverse list
print("Reverse value: ",list)

list.insert(5,5) #insert element
print(list)

list1 = [6,4,6,2] #removes element at idx
list1.pop(0)
print(list1)

Add Value:  [3, 4, 8, 2, 0, 1]
Sorts asending order:  [0, 1, 2, 3, 4, 8]
Sorts decending order:  [8, 4, 3, 2, 1, 0]
Reverse value:  [0, 1, 2, 3, 4, 8]
[0, 1, 2, 3, 4, 5, 8]
[4, 6, 2]