<a href="https://colab.research.google.com/github/jesun03/Python/blob/Python-Learning/String.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
str1 = "hello"
str2 = "world"
print(str1+str2)

helloworld

In [ ]:
#Slicing

str = "Northen University"
print(str[0:7])
print(str[8:])

Northen
University

In [ ]:
#slicing use Negative index

str = "Apple"
print(str[-5:-2])

App

In [ ]:
#string length check
str1 = "Noman"
len1 = len(str1)

str2 = "Norther University"
len2 = len(str2)
final_str = str1 + " " + str2
print(final_str)

print(len1)
print(len2)

Noman Norther University
5
18

In [4]:
 #replace function
str = "i am student of cse"
print(str.replace("e","a"))

i am studant of csa

In [15]:
#WAP to input user first name & print its length.

Name = input("Enter the name: ")
print("Length: ", len(Name))

Enter the name: Noman
Length:  5

In [14]:
#WAP to find the occurrance of '$' in a string.

str = "i paid 168$, jamil will pay 20$ and rohan will pay 143$.finally $ will be paid"
print(str.count("$"))

4