<a href="https://colab.research.google.com/github/jesun03/Python/blob/Python-Learning/Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
tup = (87, 54, 34, 65, 23)
print(type(tup))
print(tup)
print(tup[2])

<class 'tuple'>
(87, 54, 34, 65, 23)
34

In [6]:
tup = "Hello"
print(type(tup))

tup1 = "Hi",      #when use string then use after "", use comma.
print(type(tup1))
print(tup)
print(tup1)

<class 'str'>
<class 'tuple'>
Hello
('Hi',)

In [10]:
#Tuple Methods

tup = (2,4,3,7,9)
print("INDEX:", tup.index(4))


tup1 = (2,5,2,5,1,5,8,3)
print("Count: ",tup1.count(5))

INDEX: 1
Count:  3

In [8]:

#PP: WAP to ask the user to enter names of their 3 favourite movies & store them in a list
movies = []
mov1 = input("Enter 1st movies: ")
mov2 = input("Enter 2nd movies: ")
mov3 = input("Enter 3rd movies: ")

movies.append(mov1)
movies.append(mov2)
movies.append(mov3)
print(movies)

Enter 1st movies: Spider Man
Enter 2nd movies: Avesham
Enter 3rd movies: Sita Ramman
['Spider Man', 'Avesham', 'Sita Ramman']

In [23]:
#WAP to check if a list contains a palindrome of elements
list1 = [1, 2, 3, 2, 1]
list2 = [3, 6, 9]
copy_list1 = list1.copy()
copy_list1.reverse()

if(copy_list1 == list1):
  print("palindrome")
else:
  print("Not palindrome")

palindrome

In [34]:
#WAP to count the number of student with the "A" grade in from tuple to the user.
grade = ()
grade = input("Enter the grade: ")
print(grade.count("A"))

Enter the grade: A,B,B,C,A,D,A,D,C,B,A
4